*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Monospace, serif;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  width: 350px;
  height: 725px;
  margin: 0 auto;
  background-image: url(aku6.jpg);
  background-position: center;
  border: 6px solid green;
  background-repeat: no-repeat;
  border-radius: 30px;
  overflow: hidden;
  background-size: cover;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 3px 5px #4f4242;
  
}

.nama {
  display: flex;
  background-color: #cccccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 26px;
  box-shadow: inset 5px 5px 3px  #4f4242, 
  inset -5px 0px 3px  #4f4242
  ;
  
}

.nama h1 {
  box-shadow:  0px 0px 3px 3px #686868;
  width: 40px;
  height: 40px;
  margin: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ddcd37;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nama h1 a img {
  width: 40px;
  height: 40px;
  padding-top: -20px;
 
}

.nama p {
  display: flex;
  padding-top: 10px;
  margin-left: 27px;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  text-shadow: 0px 1px 0.9px #ffffff;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 550px;
}

.kotak {
  display: flex;
  background-color: rgb(214,214,214);
  margin: 10px;
  justify-content: center;
  border: 2px solid  green;
  border-radius: 16px;
  width: 200px;
  box-shadow: inset 0px 0px 2px 2px #4f4242;
  
}

.kotak:hover {
  display: flex;
  background-color: green;
  margin: 10px;
  justify-content: center;
  border: 2px solid  #e2c51a;
  border-radius: 16px;
  width: 230px;
  box-shadow: inset 0px 0px 2px 2px #4f4242;
  
}

.name .doa {
  display: flex;
  order: 2;
}

.name .tentang {
  display: flex;
  order: 1;
}

.name .kotak a {
  text-decoration: none;
  color: black;
  text-shadow: 0px 1px 0.6px #ffffff;
}